p {
    background-color: aqua;
}

h1 {
    color: purple;
}

h2 {
    color: coral;
}

h4 {
    background-color: blue;
}

img {
    width: 300px;
    height: 200px;
}

div {
    text-align: center;
}